{% extends 'base.html.twig' %}

{% block title %}Edit Communication{% endblock %}

{% block body %}
    <!-- Modal -->
<div class="modal fade" id="editCommunicationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-center" id="staticBackdropLabel">
                Modifier
                </h1>
            </div>
            <div class="modal-body">
                {{ form_start(form) }}
                    {{ form_label(form.date, 'Date') }}
                    {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
                    {{ form_label(form.statut, 'Statut') }}
                    {{ form_widget(form.statut, {'attr': {'class': 'form-select'}}) }}
                    {{ form_label(form.forfait, 'Forfait') }}
                    {{ form_widget(form.forfait, {'attr': {'class': 'form-control'}}) }}
                    {{ form_label(form.description, 'Description') }}
                    {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                    {{ form_label(form.payer, 'payer') }}
                    {{ form_widget(form.payer) }}

            </div>
            <div class="modal-footer">
                
               <a href={{ path('app_tache_edit',{'id' : communication.tache.id})}}>
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">fermer</button>
               </a>
            
                <button type="button submit" class="btn btn-success btn-sm">Modifier</button>
            </div>
            {{ form_end(form) }}
            
            
        </div>
    </div>
</div>
<script>
    // jappelle le modal apres 3 secondes
    window.setTimeout(affichageModal, 250);

    function affichageModal() {
        const myModal = new bootstrap.Modal(document.getElementById('editCommunicationModal'), {})
        myModal.show();
    };
    // la doc !
    // https://getbootstrap.com/docs/5.2/components/modal/#how-it-works
</script>
{% endblock %}
