{% extends 'base.html.twig' %}

{% block title %}Restauration index{% endblock %}

{% block body %}
    <h1>Restauration index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CoutRepasPersonnel</th>
                <th>CoutRepasClients</th>
                <th>Durée</th>
                <th>Forfait</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for restauration in restaurations %}
            <tr>
                <td>{{ restauration.id }}</td>
                <td>{{ restauration.coutRepasPersonnel }}</td>
                <td>{{ restauration.coutRepasClients }}</td>
                <td>{{ restauration.durée ? restauration.durée|date('H:i:s') : '' }}</td>
                <td>{{ restauration.forfait }}</td>
                <td>
                    <a href="{{ path('app_restauration_show', {'id': restauration.id}) }}">show</a>
                    <a href="{{ path('app_restauration_edit', {'id': restauration.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_restauration_new') }}">Create new</a>
{% endblock %}
