<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#contactModal">
  Ajouter contact
</button>

<!-- Modal -->
<div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">  Ajouter contact</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ form_start(formPro) }}
        {{ form_label(formPro.contact, 'Contact') }}
        {{ form_widget(formPro.contact, {'attr': {'class': 'form-select'}}) }}
        {{ form_label(formPro.profession, 'profession') }}
        {{ form_widget(formPro.profession, {'attr': {'class': 'form-control'}}) }}
        {{ form_label(formPro.poste, 'poste') }}
        {{ form_widget(formPro.poste, {'attr': {'class': 'form-control'}}) }}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button submit" class="btn btn-primary">Ajouter</button>
      </div>
    </div>
    {{ form_end(formPro) }}
  </div>
</div>