{% if devi.accomptes.snapshot %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">Accompte</th>
      <th scope="col">Date</th>
      <th scope="col">Prix</th>
      <th scope="col">Règlement</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>

    {% set nbrAc = 0 %}
    {% for a in devi.accomptes.snapshot %}

        
          
          {% set nbrAc = nbrAc + 1 %}
          <tr>
              <th scope="row">{{ nbrAc }}</th>
              <td>{{ a.date|date("d/m/Y") }}</td>
              <td>{{a.prix ? a.prix ~ " €": " "}}</td>
              <td>{{ a.payer ? "payé" : "A payer"}}</td>
              <td>
                  <a href={{ path("app_accompte_edit" , {'id' : a.id }) }} class="btn btn-success btn-sm">
                      modifier
                  </a>
              </td>
              <td>
              
              <form method="post" action="{{ path('app_accompte_delete', {'id': a.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimmer cet accompte?');">
                  <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ a.id) }}">
                  <button class="btn btn-danger btn-sm">supprimer</button>
              </form>

              </td>
          </tr>
        
    {% endfor %}
        {% if  devi.accomptes.snapshot|length > 1 %}
          
          <tr>
            <td>Total</td>
            <td></td>
            <td>{{ totalAcompte }} €</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        {% endif %}
  </tbody>
</table>
    
{% endif %}