<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#newhebergementModal">
  Ajouter Hébergement
</button>

<!-- Modal -->
<div class="modal fade" id="newhebergementModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Ajouter Hébergement</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      {{ form_start(formHeb) }}
        {{ form_label(formHeb.lieu, 'Lieu') }}
        {{ form_widget(formHeb.lieu, {'attr': {'class': 'form-control'}}) }}
        {{ form_label(formHeb.nuit, 'Nuit') }}
        {{ form_widget(formHeb.nuit, {'attr': {'class': 'form-control'}}) }}
        {{ form_label(formHeb.coutNuitUnitaire, 'Cout unitaire') }}
        {{ form_widget(formHeb.coutNuitUnitaire, {'attr': {'class': 'form-control'}}) }}
        {{ form_label(formHeb.date, 'Date') }}
        {{ form_widget(formHeb.date, {'attr': {'class': 'form-control'}}) }}
        {{ form_label(formHeb.payer, 'payer') }}
        {{ form_widget(formHeb.payer) }}
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">fermer</button>
        <button type="button submit" class="btn btn-primary btn-sm">Ajouter</button>
      {{ form_end(formHeb) }}
      </div>
    </div>
  </div>
</div>