<div>
	<!-- Button trigger modal -->
	<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#newIntervenantModal">
		Ajouter un interlocuteur
	</button>

	<!-- Modal -->
	<div class="modal fade" id="newIntervenantModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">Ajouter un interlocuteur</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
				
					{{ form_start(formNewintervanant) }}

					{{ form_label(formNewintervanant.statut, 'Statut') }}
					{{ form_widget(formNewintervanant.statut, {'attr': {'class': 'form-select'}}) }}					
					{{ form_label(formNewintervanant.contact, 'Contact') }}
					{{ form_widget(formNewintervanant.contact, {'attr': {'class': 'form-select'}}) }}

					{{ form_label(formNewintervanant.date, 'Date') }}
					{{ form_widget(formNewintervanant.date, {'attr': {'class': 'form-control'}}) }}

					{{ form_label(formNewintervanant.duree, 'Duree') }}
					{{ form_widget(formNewintervanant.duree, {'attr': {'class': 'form-control'}}) }}

					{{ form_label(formNewintervanant.realisations, 'Réalisations') }}
					{{ form_widget(formNewintervanant.realisations, {'attr': {'class': 'form-control'}}) }}
					{{ form_label(formNewintervanant.observation, 'Observations') }}
					{{ form_widget(formNewintervanant.observation, {'attr': {'class': 'form-control'}}) }}
					{{ form_label(formNewintervanant.payer, 'payer') }}
					{{ form_widget(formNewintervanant.payer, {'attr': {'class': ''}}) }}	

			
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">fermer</button>
					<button type="button submit" class="btn btn-primary btn-sm">Ajouter</button>
				</div>
				{{ form_end(formNewintervanant) }}
			</div>
		</div>
	</div>

</div>
