<style>
	.relative{
		position: relative;
	}
	.sho{
		border-radius: 30px;
	}

	#form_contact{
		position: relative;
	}
	#dropdownContact{
		background-color: white;
		padding-top: 10px;
		display: none;
		border: solid 0.1rem;
		border-radius:  0px 0px 8px 8px;
		border-top-style: none;
		padding-bottom: 2px;
		border-color: #ced4da;
	}
	a.trans{
		color: black;
		text-decoration:none;
	}
	#search-contact{
		position: relative;
    	margin-top: -10px;
		padding-left: 20%;
	}
	.input-group-text{
		background-color: white;
		border-right-style: none;
	}
	input#form_contact
	{
		border-left-style: none;
		border-radius: 0px 5px 5px 0px;
	}
	p.truncate{
		color:#e8531e;
	}

</style>
<div class="card w-100">
	<div class="card-body">

		<h3>Contacts</h3>

		{{ form_start(formContacts) }}
		
			<div class=" input-group  relative">
				<span class="input-group-text" >
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
					<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
					</svg>
				</span>
					
				{{ form_widget(formContacts.contact, {'attr': {'class': 'form-control'}}) }}
			</div>

			<div id="dropdownContact">
				<div class="scrolling">
					<div id="search-contact">
						<h6 class="text-xl"><i class="fa-solid fa-cubes mr-2 my-auto"></i></h6>
						{% for u in users %}
							<a class="trans" href="{{ path( 'app_contact_edit', { 'id': u.id } ) }}">
								<div class="flex">	
									<p class="w-full truncate"> {{ u.nom|capitalize}} {{  u.prenom|capitalize}} {{ u.entreprise|capitalize }}</p>
								</div>
							</a>
						{% endfor %}
						
					</div>
				</div>
			</div>

		{{ form_end(formContacts) }}



		<div class="add">
			{{ include('home/show/_newContact.html.twig') }}
		</div>
	</div>
</div>
<script>




</script>