{{ include("contact/edit/contact_pdf/_style.html.twig") }}
<style>
    h1.titre{
        margin-bottom: 40px;
    }
    p{
        margin-bottom: 10px;
    }

</style>

<div class="body relative">

    <h1 class="titre">Fiche contact</h1>

    <p>
        Référence : .....
    </p>

    <h3>
        Nom : {{nom}}
    </h3>
    <h3>
        Prenom : {{prenom}}
    </h3>

    <p>
        Statut : {{statut}}
    </p>

    <p>
        {{entreprise ? "Entreprise : "~entreprise : "Entreprise : aucune"}}
    </p>

    <p>
        {% if adresses %}
        Adressse(s) :
        <ul>
            {% for a in adresses %}
            <li>
                {{ a.rue }}
                {{ a.codePostal ? ", "~a.codePostal}}
                {{a.ville ? ", "~a.ville}}
                {{a.departement ? ", "~a.departement}}
                {{a.region ? ", "~a.region}}
                {{a.pays ? ", "~a.pays}}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </p>    
    <p>
        {% if telephones %}
        Téléphone(s) :
        <ul>
            {% for t in telephones %}
            <li>
                {{t.statut}} :
                {{t.number}}
                {{ t.observation ? ", "~t.observation }}
            </li>
            {% endfor %}
        </ul>

        {% endif %}

    </p>

    <p>
        {% if mails %}
        Mail(s) :
        <ul>
            {% for m in mails %}
                <li>
                    {{m.statut}} : 
                    {{m.email}}
                </li>
            {% endfor %}
        </ul>

        {% endif %}
    </p>

    <p>
        {% if historiques %}
        Historique(s) :
        <ul>
            {% for h in historiques %}
            <li>
                {{ h.historique }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </p>


</div>

<div class="left">

</div>

<footer>
    <div class="footer">

    </div>
</footer>