    {% if data.hebergements %}

            {% set nbrHebergements = 0 %}
            {% set nbrNuit = 0 %}
            {% set totalCout = 0 %}
            {% set total1Hebergement = 0 %}
            {% set totauxHebergement = 0 %}

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Hébergements</th>
                        <th scope="col">Lieu</th>
                        <th scope="col">Nuit</th>
                        <th scope="col">Coût</th>
                        <th scope="col">Reglement</th>
                        <th scope="col">Total</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                        {% for h in data.hebergements %}
                                {% set nbrHebergements = nbrHebergements + 1 %}
                                {% set nbrNuit = nbrNuit + h.nuit %}
                                {% set totalCout = totalCout + h.coutNuitUnitaire %}
                                {% set total1Hebergement =  h.nuit * h.coutNuitUnitaire %}
                                {% if h.payer %}
                                {% else %}
                                    {% set totauxHebergement = totauxHebergement + total1Hebergement %}
                                {% endif %}
                            
                                <tr>
                                    <th scope="row">{{h.date|date('d/m/Y')}}</th>
                                    <td>{{h.lieu}}</td>
                                    <td>{{h.nuit}}</td>
                                    <td> {{h.coutNuitUnitaire}} €</td>
                                    <td>{{ h.payer ? "réglé" :"pas réglé"}}</td>
                                    <td> 
                                        {{total1Hebergement}} €                                       
                                    </td>
                                    <td>
                                        <a href={{ path("app_hebergement_edit" , {'id' : h.id } )  }} class="btn btn-success btn-sm">
                                            modifier
                                        </a>
                                    </td>

                                </tr>
                        {% endfor %}
                        
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td>  </td>
                            <td> </td>
                            <td></td>
                            <td> {{totauxHebergement}} €</td>
                            <td></td>
                        </tr>
                </tbody>
            </table>
            
        
        {% endif %}