{% extends 'base.html.twig' %}

{% block title %}DevisHebergement{% endblock %}

{% block body %}
    <h1>DevisHebergement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ devis_hebergement.id }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ devis_hebergement.quantite }}</td>
            </tr>
            <tr>
                <th>PrixUnitaire</th>
                <td>{{ devis_hebergement.prixUnitaire }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_devis_hebergement_index') }}">back to list</a>

    <a href="{{ path('app_devis_hebergement_edit', {'id': devis_hebergement.id}) }}">edit</a>

    {{ include('devis_hebergement/_delete_form.html.twig') }}
{% endblock %}
