<div style="position:relative;">
      <div class="designation border" style="padding-left:20px;width:330px; "  >
          Frais annexes  :
        <ul >
          <li style="list-style-type: none">- Ouverture de dossier</li>
          <li style="list-style-type: none">- Déplacements</li>
          <li style="list-style-type: none">- Hébergements</li>
          <li style="list-style-type: none">- Salle réunion</li>
          <li style="list-style-type: none">- Restauration</li>
        </ul>
      </div>

      <div class="designation border" style="width: 60px;margin-left:400px;margin-top:-200px;position:relative;padding-top:20px;">
            <ul>
              <li style="list-style-type: none;">1</li>
            <li style="list-style-type: none;">  </li>
            <li style="list-style-type: none;"></li>
            <li style="list-style-type: none;"></li>
            <li style="list-style-type: none;"> </li>
            </ul>
      </div>


      <div class="designation border" style="width: 60px;margin-left:500px;margin-top:-200px;position:relative;padding-top:20px;">
          <ul >
          <li style="list-style-type: none">1</li>
          <li style="list-style-type: none">1</li>
          <li style="list-style-type: none">1</li>
          <li style="list-style-type: none">1</li>
          <li style="list-style-type: none">1</li>
        </ul>
      </div>

       <div class="designation border" style="width:60px;margin-left:600px;margin-top:-200px;position:relative;padding-top:20px;">
          <ul>
            <li style="list-style-type: none;text-align: right;">{{ ouvertureDossier }}</li>
            <li style="list-style-type: none;text-align: right;">{{ TotalDeplacement }}</li>
            <li style="list-style-type: none;text-align: right;">{{ TotalHebergement }}</li>
            <li style="list-style-type: none;text-align: right;">{{ TotalReunion }}</li>
            <li style="list-style-type: none;text-align: right;"> {{ TotalRestauration }}</li>
          </ul>
      </div>
          
      
   
    
</div>

