

<!-- Button trigger modal -->
<a >
  <button type="button" class="modifier btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#editMission">
    Modifier mission
  </button>
</a>
<!-- Modal -->
<div class="modal fade" id="editMission" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modifier mission</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

      {{ form_start(form) }}
        {{ form_label(form.name, 'Nom') }}
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}

        {{ form_label(form.reference, 'Reference') }}
        {{ form_widget(form.reference, {'attr': {'class': 'form-control'}}) }}

        {{ form_label(form.localisation, 'Localisation') }}
        {{ form_widget(form.localisation, {'attr': {'class': 'form-control'}}) }}

        {{ form_label(form.stade, 'Stade') }}
        {{ form_widget(form.stade, {'attr': {'class': 'form-control'}}) }}
        
        {{ form_label(form.contact, 'Contact') }}
        {{ form_widget(form.contact, {'attr': {'class': 'form-select'}}) }}

        {{ form_label(form.entreprise, 'Entreprise') }}
        {{ form_widget(form.entreprise, {'attr': {'class': 'form-select'}}) }}

        {{ form_label(form.produit, 'Produit') }}
        {{ form_widget(form.produit, {'attr': {'class': 'form-control'}}) }}
        
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">fermer</button>
        <button type="button submit" class="btn btn-success btn-sm">Modifier</button>
        
        {{ form_end(form) }}
      </div>
    </div>
  </div>
</div>
