<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#newDevisModal">
  Ajouter Devis
</button>

<!-- Modal -->
<div class="modal fade" id="newDevisModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Ajouter Devis</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ form_start(formDevis) }}
          {{ form_label(formDevis.name, 'Nom') }}
          {{ form_widget(formDevis.name, {'attr': {'class': 'form-control'}}) }}
          {{ form_label(formDevis.date, 'Date') }}
          {{ form_widget(formDevis.date, {'attr': {'class': 'form-control'}}) }}

        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">fermer</button>
        <button type="button submit" class="btn btn-primary btn-sm">Ajouter</button>
      </div>
      {{ form_end(formDevis) }}
    </div>
  </div>
</div>