{% extends 'base.html.twig' %}

{% block title %}Devis reunion{% endblock %}

{% block body %}
    <h1></h1>

<!-- Modal -->
<div class="modal fade" id="editDevisReunionModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-center" id="staticBackdropLabel">
                  Devis réunion 
                </h1>
            </div>
            <div class="modal-body">

            {{ form_start(form) }}
            
                {{ form_label(form.quantite, 'Quantité') }}
                {{ form_widget(form.quantite, {'attr': {'class': 'form-control'}}) }}
                {{ form_label(form.prix, 'prix') }}
                {{ form_widget(form.prix, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="modal-footer">
                    <a href= {{ path('app_devis_edit', {'id' : devis_reunion.devis.id} ) }}>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">fermer</button>
                    </a>
                

                <button type="button submit" class="btn btn-primary">Modifier</button>
            </div>
            {{ form_end(form) }}
            
        </div>
    </div>
</div>
<script>
    // jappelle le modal apres 3 secondes
    window.setTimeout(affichageModal, 000);

    function affichageModal() {
        const myModal = new bootstrap.Modal(document.getElementById('editDevisReunionModal'), {})
        myModal.show();
    };
    // la doc !
    // https://getbootstrap.com/docs/5.2/components/modal/#how-it-works
</script>


{% endblock %}
