{% extends 'base.html.twig' %}

{% block title %}DevisReunion{% endblock %}

{% block body %}
    <h1>DevisReunion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ devis_reunion.id }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ devis_reunion.quantite }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ devis_reunion.prix }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_devis_reunion_index') }}">back to list</a>

    <a href="{{ path('app_devis_reunion_edit', {'id': devis_reunion.id}) }}">edit</a>

    {{ include('devis_reunion/_delete_form.html.twig') }}
{% endblock %}
