<!-- Button trigger modal -->
<div>
    <button type="button" style="margin-right:10px;" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#editProblemeModal">
        Modifier Problème
    </button>
</div>

<!-- Modal -->
<div class="modal fade" id="editProblemeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel"> modifier Problème</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ form_start(form) }}

                    {{ form_label(form.statut, 'Statut') }}
                    {{ form_widget(form.statut, {'attr': {'class': 'form-select'}}) }}
                    {{ form_label(form.classe, 'Statut') }}
                    {{ form_widget(form.classe, {'attr': {'class': 'form-select'}}) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                <button type="button submit" class="btn btn-primary btn-sm">modifier</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>