{% extends 'base.html.twig' %}

{% block title %}Identification index{% endblock %}

{% block body %}
    <h1>Identification index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Identification</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for identification in identifications %}
            <tr>
                <td>{{ identification.id }}</td>
                <td>{{ identification.identification }}</td>
                <td>
                    <a href="{{ path('app_identification_show', {'id': identification.id}) }}">show</a>
                    <a href="{{ path('app_identification_edit', {'id': identification.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_identification_new') }}">Create new</a>
{% endblock %}
