{% extends 'base.html.twig' %}

{% block title %}Analyse{% endblock %}

{% block body %}
    <h1>Analyse</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ analyse.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ analyse.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ analyse.description }}</td>
            </tr>
            <tr>
                <th>Observations</th>
                <td>{{ analyse.observations }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_analyse_index') }}">back to list</a>

    <a href="{{ path('app_analyse_edit', {'id': analyse.id}) }}">edit</a>

    {{ include('analyse/_delete_form.html.twig') }}
{% endblock %}
